@page
@model DigiLearn.Web.Pages.Profile.Settings.ChangePassword
@{
  Layout = "Shared/_ProfileSettingsLayout";
  ViewData["BreadcrumbTitle"] = "ChangePassword";
}
<div class="card mb-0">
  <div class="card-body">
    <div class="border-bottom mb-4 pb-4">
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <h5 class="mb-1 fs-18">Change Password</h5>
          </div>
          <form method="post">
            <div class="mb-3 position-relative">
              <label class="form-label">Current Password <span class="text-danger"> *</span></label>
              <div class="position-relative">
                <input type="password" class="pass-input form-control" asp-for="ChangePasswordRequest.CurrentPassword">
                <span class="isax toggle-password isax-eye-slash text-gray-7 fs-14"></span>
              </div>
            </div>
            <div class="mb-3 position-relative">
              <label class="form-label">New Password <span class="text-danger"> *</span></label>
              <div class="position-relative" id="passwordInput">
                <input type="password" class="pass-inputs form-control" asp-for="ChangePasswordRequest.NewPassword">
                <span class="isax toggle-passwords isax-eye-slash text-gray-7 fs-14"></span>
                <span class="pass-checked"></span>
              </div>
              <div class="password-strength" id="passwordStrength">
                <span id="poor"></span>
                <span id="weak"></span>
                <span id="strong"></span>
                <span id="heavy"></span>
              </div>
              <div class="mt-2 fs-14" id="passwordInfo">Use 8 or more characters with a mix of letters, numbers & symbols.</div>
              <span class="text-danger" asp-validation-for="ChangePasswordRequest.NewPassword"></span>
            </div>
            <div class="mb-3 position-relative">
              <label class="form-label">Confirm Password <span class="text-danger"> *</span></label>
              <div class="position-relative">
                <input type="password" class="pass-inputa form-control form-control-lg" asp-for="ChangePasswordRequest.ConfirmNewPassword">
                <span class="isax toggle-passworda isax-eye-slash text-gray-7 fs-14"></span>
                <span class="text-danger" asp-validation-for="ChangePasswordRequest.ConfirmNewPassword"></span>
              </div>
            </div>
            <div>
              <button class="btn btn-secondary">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    @* 		<div class="row">
			<div class="col-md-8">
				<div class="mb-3">
					<h5 class="mb-1 fs-18">Change Email</h5>
					<p>Your current email address is <a href="#" class="fw-semibold"><span class="__cf_email__" data-cfemail="2d5f444e454c5f496d48554c405d4148034e4240">[email&#160;protected]</span></a></p>
				</div>
				<form>
					<div class="mb-3">
						<label class="form-label">New Email Address <span class="text-danger"> *</span></label>
						<input type="text" class="form-control">
					</div>
					<div>
						<button class="btn btn-secondary" type="submit">Save Changes</button>
					</div>
				</form>
			</div>
		</div> *@
  </div>
</div>

