@page
@model DigiLearn.Web.Pages.Profile.Settings.IndexModel
@{
	Layout = "Shared/_ProfileSettingsLayout";
	ViewData["BreadcrumbTitle"] = "Settings";
}
<div class="card">
	<div class="card-body">
		<form method="post">
			<div class="profile-upload-group">
				<div class="d-flex align-items-center">
					<a href="student-profile.html" class="avatar flex-shrink-0 avatar-xxxl avatar-rounded border me-3"><img src="/assets/img/user/user-02.jpg" alt="Img" class="img-fluid"></a>
					<div class="profile-upload-head">
						<h6><a href="student-profile.html">Profile Photo</a></h6>
						<p class="fs-14 mb-0">PNG or JPG no bigger than 800px width and height</p>
						<div class="new-employee-field">
							<div class="d-flex align-items-center mt-2">
								<div class="image-upload position-relative mb-0 me-2">
									<input type="file">
									<a href="#" class="btn bg-gray-100 btn-sm rounded-pill image-uploads">Upload</a>
								</div>
								<div class="img-delete">
									<a href="#" class="btn btn-secondary btn-sm rounded-pill">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="edit-profile-info mb-3">
					<h5 class="mb-1">Personal Details</h5>
					<p>Edit your personal information</p>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3">
							<editor-row for="EditUserProfile.Name" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="mb-3">
							@* @Html.EditorFor(f => f.Family) *@
							<editor-row for="EditUserProfile.Family" />
						</div>
					</div>
					<div class="col-md-12">
						<div class="mb-3">
							@* @Html.EditorFor(f => f.Email) *@
							<editor-row for="EditUserProfile.Email" />
						</div>
					</div>
					<div class="col-md-12">
						<button class="btn btn-secondary rounded-pill" type="submit">Update Profile</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>