<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Dreams LMS is a powerful Learning Management System template designed for educators, training institutions, and businesses. Manage courses, track student progress, conduct virtual classes, and enhance e-learning experiences with an intuitive and feature-rich platform.">
  <meta name="keywords" content="LMS template, Learning Management System, e-learning software, online course platform, student management, education portal, virtual classroom, training management system, course tracking, online education">
  <meta name="author" content="Dreams Technologies">
  <meta name="robots" content="index, follow">

  <title>Dreams LMS | Advanced Learning Management System Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/favicon.png">
  <link rel="apple-touch-icon" href="/assets/img/apple-icon.png">

  <!-- Theme Settings Js -->
  <script src="/assets/js/theme-script.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <!-- iconsax css -->
  <link rel="stylesheet" href="/assets/css/iconsax.css">

  <!-- Slick CSS -->
  <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
  <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">

  <!-- tabler icon css -->
  <link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.css">

  <!-- aos css -->
  <link rel="stylesheet" href="/assets/plugins/aos/aos.css">

  <!-- fontawsome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

  <!-- owl carousel css file -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

  <!-- style.css file -->
  <link rel="stylesheet" href="/assets/css/style.css">
  @await RenderSectionAsync("meta", false)

</head>
<body>
  <div class="main-wrapper">
    <!-- Header -->
    <partial name="_Header" />
    <!-- /Header -->

    @await RenderSectionAsync("Slideshow", required: false)
    @RenderBody()

    <!-- Footer -->
    <partial name="_Footer" />
    <!-- /Footer -->

  </div>

  <!-- import jquery -->
  <script data-cfasync="false" src="/assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="/assets/js/jquery-3.7.1.min.js"></script>
  <script src="/assets/js/jquery.waypoints.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>

  <!-- import bootstrap bundle -->
  <script src="/assets/js/bootstrap.bundle.min.js"></script>

@*   @await RenderSectionAsync("SideBarScripts", required: false)
 *@
  <!-- import aos -->
  <script src="/assets/plugins/aos/aos.js"></script>

  <!-- Slick Slider -->
  <script src="/assets/plugins/slick/slick.js"></script>

  <!-- import font awsome -->
  <script src="/assets/plugins/fontawesome/js/fontawesome.min.js"></script>

  <!-- import owl carousel js -->
  <script src="/assets/js/owl.carousel.min.js"></script>

  <!-- import script.js -->
  <script src="/assets/js/script.js"></script>

  <script src="/assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="f0de12f7ccfa137ab179a43e-|49" defer></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>