<!-- sidebar -->
<div class="col-lg-3 theiaStickySidebar">
  <div class="settings-sidebar">
    <div>
      <h6 class="mb-3">Main Menu</h6>
      <ul class="mb-3 pb-1">
        <li>
          <a href="/profile" class="d-inline-flex align-items-center active"><i class="isax isax-grid-35 me-2"></i>Dashboard</a>
        </li>
        <li>
          <a href="student-profile.html" class="d-inline-flex align-items-center"><i class="fa-solid fa-user me-2"></i>My Profile</a>
        </li>
        <li>
          <a href="/profile/courses" class="d-inline-flex align-items-center"><i class="isax isax-teacher5 me-2"></i>Enrolled Courses</a>
        </li>
        <li>
          <a href="student-certificates.html" class="d-inline-flex align-items-center"><i class="isax isax-note-215 me-2"></i>My Certificates</a>
        </li>
        <li>
          <a href="student-wishlist.html" class="d-inline-flex align-items-center"><i class="isax isax-heart5 me-2"></i>Wishlist</a>
        </li>
        <li>
          <a href="/profile/comments" class="d-inline-flex align-items-center"><i class="isax isax-star5 me-2"></i>Reviews</a>
        </li>
        <li>
          <a href="/profile/orders" class="d-inline-flex align-items-center"><i class="isax isax-shopping-cart5 me-2"></i>Order History</a>
        </li>
        <li>
          <a href="/profile/notifications" class="d-inline-flex align-items-center"><i class="isax isax-messages-35 me-2"></i>Messages</a>
        </li>
        <li>
          <a href="/profile/ticket" class="d-inline-flex align-items-center"><i class="isax isax-ticket5 me-2"></i>Support Tickets</a>
        </li>
      </ul>
      <hr>
      <h6 class="mb-3">Account Settings</h6>
      <ul>
        <li>
          <a href="/profile/settings" class="d-inline-flex align-items-center"><i class="isax isax-setting-25 me-2"></i>Settings</a>
        </li>
        <li>
          <a href="/auth/logout" class="d-inline-flex align-items-center"><i class="isax isax-logout5 me-2"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
